@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}
html{   
    scroll-behavior: smooth;
}
body{
    width: 100%!important;
    background-color: var(--letra)!important;
    min-width: 318px;
}

:root{
    --rojo: #ff5722;
    --letra:  #333;
    --gris-claro:  #CFD8DC;
    --white: #fff;
    --naranja: #f5af19;
}



.menu{
  width: 100%;
  position: fixed;
  height: 60px;
  border-bottom: 2px solid var(--naranja);
  background-color: var(--letra);
  z-index: 1;
}
.logo{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo h2{
  font-family: 'Mouse Memoirs';
  font-size: 2.5rem;
  color: var(--naranja);
}

/*MENU DE NAVEGACION PARA MOVIL*/

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: var(--letra);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: var(--naranja);
  color: #333;
} 

















/*CABECERA*/
.cabecera{
  width: 100%;
  height: 600px;
  background: #f12711;  
  background: -webkit-linear-gradient(to right, #f5af19, #f12711);  
  background: linear-gradient(to right, #f5af19, #f12711); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cabecera-contenido{
  padding: 10px;
}
.cabecera-contenido h1,
.cabecera-contenido h2{
  font-family: 'Dosis', sans-serif;
  text-align: center;
}
.cabecera-contenido span{
  font-family: 'Mouse Memoirs', sans-serif;
}
.cabecera-wave{
  margin-top: -136px;
}
.wrapper{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
  z-index: 0;
}
ul{
  padding-left: 0!important;
}
.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  margin: 5px;
  width: 60px;
  height: 60px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #f5af19;
}
.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}
.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}
.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff;
}
.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #CD201F;
  color: #ffffff;
}








/*CARTELERA*/
.cartelera{
  width: 100%;
  padding: 10px;
}
.cartelera1,
.cartelera2,
.cartelera3{
  background-position: center;
  background-repeat: no-repeat;
  background-size: 102%;
}
.cartelera1{
  background-image: url('img/cartelera1.jpg');
}
.cartelera2{
  background-image: url('img/cartelera2.jpg');
  background-size: 109%;
}
.cartelera3{
  background-image: url('img/cartelera3.jpg');
  background-size: 109%;
}
.cartelera4{
  background-image: url('img/cartelera4.jpg');
  background-size: 109%;
}
.cartelera5{
  background-image: url('img/cartelera5.jpg');
  background-size: 121%;
}
.cartelera6{
  background-image: url('img/cartelera6.jpg');
  background-size: 131%;
  background-position: center;
}
.cartelera7{
  background-image: url('img/cartelera7.jpg');
  background-size: 109%;
}
.cartelera8{
  background-image: url('img/cartelera8.jpg');
  background-size: 109%;
}
.cartelera9{
  background-image: url('img/cartelera9.jpg');
  background-size: 109%;
}
.cartelera h2{
  color: var(--white);
  font-family: 'Dosis';
  font-size: 1.8rem;
  padding: 27px 100px;
}
.pelis{
  display: flex!important;
}
.carousel-control-next, 
.carousel-control-prev{
  opacity: 1!important;
  z-index: 0!important;
}
.carousel-control-next:focus, 
.carousel-control-next:hover, 
.carousel-control-prev:focus, 
.carousel-control-prev:hover {
  border: none;
}
.flip-card-container {
  --hue: 150;
  --primary: hsl(var(--hue), 50%, 50%);
  --white-1: hsl(0, 0%, 90%);
  --white-2: hsl(0, 0%, 80%);
  --dark: hsl(var(--hue), 25%, 10%);
  --grey: hsl(0, 0%, 50%);
  width: 310px;
  height: 500px;
  perspective: 1000px;
  margin: 0 auto;
  z-index: 0;
}
.flip-card {
  width: inherit;
  height: inherit;
  position: relative;
  transform-style: preserve-3d;
  transition: .6s .1s;
}
.flip-card-container:hover .flip-card,
.flip-card-container:focus-within .flip-card {
  transform: rotateY(180deg);
}
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  border-radius: 24px;
  background: var(--dark);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-front {
  transform: rotateY(0deg);
  z-index: 2;
}
.card-back {
  transform: rotateY(180deg);
  z-index: 1;
  display: flex;
  flex-direction: column;
}
.card-back p{
  font-family: 'Dosis', sans-serif;
  text-align: center;
  border-bottom: 1px solid var(var(--white));
  margin-top: 15px;
  color: white;
  border-bottom: 2px solid white;
  width: 100px;
  padding-bottom: 15px;
}
figure {
  z-index: -1;
}
figure{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
button {
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  color: var(--naranja);
  border:1px solid var(--naranja);
  letter-spacing: 2px;
  padding: 9px 20px;
  border-radius: 1000px;
  background: transparent;
  transition: .3s;
  cursor: pointer;
  margin-top: 35px;
}
button:hover,
button:focus {
  color: var(--white);
  border:1px solid var(--white);
}
button:active {
  transform: translate(2px);
}








/*SOBRE NOSOTROS*/
.about{
  width: 100%;
  height: 517px;
  background: var(--naranja);  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about h2,
.about-pc h2{
  font-family: 'Dosis', sans-serif;
  font-size: 2rem;
}
.about p,
.about-pc p{
  text-align: center;
  padding: 10px;
  font-size: 1.2rem;
}
.about button,
.about-pc button{
  border: 2px solid var(--letra);
  border-radius: 15px;
  color: var(--white);
  font-family: 'Dosis';
}
.about-pc{
  width: 100%;
  height: 517px;
  background: var(--naranja);  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}




/*FOOTER*/
.footer{
  width: 100%;
  height: 80px;
}
.legal{
  width: 100%;
  height: 100%;
}
.legal ul{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.legal ul a{
  color: var(--naranja);
  font-family: 'Mouse Memoirs', sans-serif;
  text-decoration: none;
}
.legal ul li{
  list-style-type: none;
}






.swiper {
  width: 240px;
  height: 320px;
  display: none!important;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-image: url('img/cartelera1.jpg');
  background-size: 100%;
}

.swiper-slide:nth-child(2n) {
  background-image: url('img/cartelera2.jpg');
}

.swiper-slide:nth-child(3n) {
  background-image: url('img/cartelera3.jpg');
}

.swiper-slide:nth-child(4n) {
  background-image: url('img/cartelera4.jpg');
}

.swiper-slide:nth-child(5n) {
  background-image: url('img/cartelera5.jpg');
}

.swiper-slide:nth-child(6n) {
  background-image: url('img/cartelera1.jpg');
}

.swiper-slide:nth-child(7n) {
  background-image: url('img/cartelera7.jpg');
}

.swiper-slide:nth-child(8n) {
  background-image: url('img/cartelera8.jpg');
}

.swiper-slide:nth-child(9n) {
  background-image: url('img/cartelera9.jpg');
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}

@media screen and (max-width:500px) {
  .swiper{
    display: flex!important;
  }
  .about{
    display: none;
  }
  .pc{
    display: none;
  }
  .about-pc{
    display: flex;
  }
  .flip-card-container{
    width: 277px;
  }
  .cartelera1,
  .cartelera2,
  .cartelera3{
    background-size: 114%;
  }
  .cartelera2{
    background-size: 124%;
  }
  .cartelera3{
    background-size: 124%;
  }

  .carousel-inner {
    padding: 30px 0 28px 0px;
  }
}
