@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}
html{   
    scroll-behavior: smooth;
}
body{
    width: 100%!important;
    background-color: var(--letra)!important;
    min-width: 318px;
}

:root{
    --rojo: #ff5722;
    --letra:  #333;
    --gris-claro:  #CFD8DC;
    --white: #fff;
    --naranja: #f5af19;
}

/*Menu de Navegación*/
.menu{
  position: fixed;
  width: 100%;
  height: 70px;
  border-bottom: 2px solid var(--naranja);
  background-color: var(--letra);
  z-index: 1;
}
.menu .logo{
  height: 100%;
  margin-top: -27px;
}
.menu .logo h2{
  height: 100%;
  color: var(--naranja);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-family: 'Mouse memoirs';
}
/*MENU DE NAVEGACION PARA MOVIL*/

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: var(--letra);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: var(--naranja);
  color: #333;
} 

/*CABECERA*/
.cabecera{
  width: 100%;
  height: 400px;
  background: #fc4a1a;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cabecera h1{
  margin-top: 88px;
}
.cabecera h1,
.cabecera h2{
  font-family: 'Dosis', sans-serif;
  color: var(--letra);
  padding-left: 10px;
  padding-right: 10px;
}
.cabecera span{
  font-family: 'Mouse Memoirs';
}
ul{
  padding-left: 0!important;
}
.wrapper {
  display: flex;
  margin-top: 28px;
}
.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  margin: 5px;
  width: 60px;
  height: 60px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #f5af19;
}
.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}
.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}
.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff;
}


/*CARTELERA*/
.cartelera{
  width: 100%;
  height: 700px;
  padding: 20px;
}
.cartelera h2{
  padding: 50px;
  padding-bottom: 40px;
  color: var(--white);
  font-family: 'Dosis', sans-serif;
}
.cartelera1,
.cartelera2,
.cartelera3{
  background-position: center;
  background-repeat: no-repeat;
  background-size: 102%;
}
.cartelera1{
  background-image: url('img/cartelera1.jpg');
}
.cartelera2{
  background-image: url('img/cartelera2.jpg');
  background-size: 109%;
}
.cartelera3{
  background-image: url('img/cartelera3.jpg');
  background-size: 109%;
}
.carousel-control-next, 
.carousel-control-prev{
  opacity: 1!important;
}
.flip-card-container {
  --hue: 150;
  --primary: hsl(var(--hue), 50%, 50%);
  --white-1: hsl(0, 0%, 90%);
  --white-2: hsl(0, 0%, 80%);
  --dark: hsl(var(--hue), 25%, 10%);
  --grey: hsl(0, 0%, 50%);
  width: 310px;
  height: 500px;
  perspective: 1000px;
  margin: 0 auto;
}
.flip-card {
  width: inherit;
  height: inherit;
  position: relative;
  transform-style: preserve-3d;
  transition: .6s .1s;
}
.flip-card-container:hover .flip-card,
.flip-card-container:focus-within .flip-card {
  transform: rotateY(180deg);
}
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  border-radius: 24px;
  background: var(--dark);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-front {
  transform: rotateY(0deg);
  z-index: 2;
}
.card-back {
  transform: rotateY(180deg);
  z-index: 1;
  display: flex;
  flex-direction: column;
}
.card-back p{
  font-family: 'Dosis', sans-serif;
  text-align: center;
  border-bottom: 1px solid var(var(--white));
  margin-top: 15px;
  color: white;
  border-bottom: 2px solid white;
  width: 100px;
  padding-bottom: 15px;
}
figure {
  z-index: -1;
}
figure{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
button {
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  color: var(--naranja);
  border:1px solid var(--naranja);
  letter-spacing: 2px;
  padding: 9px 20px;
  border-radius: 1000px;
  background: transparent;
  transition: .3s;
  cursor: pointer;
  margin-top: 35px;
}
button:hover,
button:focus {
  color: var(--white);
  border:1px solid var(--white);
}
button:active {
  transform: translate(2px);
}



/*SOBRE NOSOTROS*/
.about{
  width: 100%;
  height: 500px;
  background: #fc4a1a;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about h2{
  font-family: 'Mouse Memoirs', sans-serif;
  margin-bottom: 20px;
}
.about p{
  font-family: 'Mouse Memoirs', sans-serif;
  color: var(--letra);
  text-align: center;
  font-weight: 600;
  font-size: 1.3rem;
  padding: 10px;
 
}
.about button:hover{
  color: var(--white);
  border: 1px solid var(--letra);
  font-size: 1.1rem;

}
.about button{
  color: var(--white);
  border: 1px solid black;
  border-radius: 15px;
}


/*FOOTER*/
.footer{
  width: 100%;
  height: 100px;
}
.legal{
  width: 100%;
  height: 100%;
}
.legal ul{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.legal ul li{
  list-style-type: none;
}
.legal ul li a{
  text-decoration: none;
  color: var(--naranja);
  font-family: 'Mouse Memoirs';
}
@media screen and (max-width:500px) {
  .flip-card-container{
    width: 95%;
    height: 408px;
  }
}
